// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
html,body {
  min-height: 100vh;
}
body.login,
body.register {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/mate_runners.jpg');

  .panel,
  .navbar-default {
    background-color: rgba(255,255,255,0.8);
  }
  .panel-default > .panel-heading {
    background-color: transparent;
    border-color: rgba(255,255,255,.8);
  }

  .col-xs-12 {
    > h1,> h2,> h3,> h4,> h5,> h6 {
      color: #fff;
      text-shadow: 0px 0px 10px rgba(0,0,0,.9);
    }
  }
}*/
